name: npm Build
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  npm-build: # make sure build/ci work properly
    name: npm Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install
      - run: |
          npm run all
