# dotenv-linter:off UnorderedKey

# == .env ====================================================
# This is an environment variable settings file for local execution
# using `@github/local-action`.
# !!! WARNING: Do not commit this `.env` file to Git. !!!
# !!! WARNING: Token values in this file may include secrets. !!!
# ============================================================

# ------------------------------------------------------------
# 1) Basic Environment Variable Settings
# ------------------------------------------------------------

# Whether to enable debug logs
# Value: true | false (default)
ACTIONS_STEP_DEBUG=true

# [REQUIRED][FIXED] Project path settings (for local execution)
LOCAL_PROJECT_PATH=/workspaces/issue-pr-labeler
LOCAL_ACTION_FIXTURE_PATH=__tests__/local-action/fixtures

# ------------------------------------------------------------
# 2) GitHub Environment Variable Settings
# ------------------------------------------------------------
# Sets the default GitHub Actions environment variables required for execution.
# Reference: https://docs.github.com/en/actions/reference/workflows-and-actions/variables

# [REQUIRED][FIXED] Repository owner/name
# (Can be replaced by values from the event file:
# repository.owner.login, repository.name)
GITHUB_REPOSITORY=hoho4190/issue-pr-labeler

# [REQUIRED][FIXED] File path where the Summary will be saved
# File path located under LOCAL_PROJECT_PATH
GITHUB_STEP_SUMMARY=__tests__/local-action/tmp/summary.md

# [REQUIRED] Triggered event type
# Value: issues | pull_request | pull_request_target
GITHUB_EVENT_NAME=pull_request

# [REQUIRED] Event file path
# File path located under LOCAL_PROJECT_PATH/LOCAL_ACTION_FIXTURE_PATH
GITHUB_EVENT_PATH=event.json

# ------------------------------------------------------------
# 3) GitHub Actions Input Environment Variable Settings
# ------------------------------------------------------------
# Sets required GitHub Actions input values as environment variables.
# Reference: action.yml

# [REQUIRED] GitHub token
# A real token is required when calling the actual GitHub API
INPUT_TOKEN=test-token

# Config file path
# Default: labeler-config.yml
# File path located under LOCAL_PROJECT_PATH/LOCAL_ACTION_FIXTURE_PATH
# dotenv-linter:off IncorrectDelimiter
INPUT_CONFIG-FILE-PATH=labeler-config.yml
# dotenv-linter:on IncorrectDelimiter
